Package: e-tahta-dbgsym
Source: e-tahta
Version: 1.8.8
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 2615
Depends: e-tahta (= 1.8.8)
Section: debug
Priority: optional
Description: debug symbols for e-tahta
Build-Ids: f8ffbf267936cb540e95ae2741282900f6b636c5
