Package: e-tahta-dbgsym
Source: e-tahta
Version: 1.8.6
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 101
Depends: e-tahta (= 1.8.6)
Section: debug
Priority: optional
Description: debug symbols for e-tahta
Build-Ids: 6b6809342de7a08746af64d7a852122615d0065e
